
/* css reset */
*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}



.react-codemirror2 {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
}

.CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
}

.header{
  z-index: 100;
  position: relative;
}

.menu-list {
  position: fixed!important;
  left: 0;
  top: 0;
  width: 158px;
  height: 100vh;
  background-color: rgb(38, 50, 56);
  padding-top: 70px!important;
}





